.Weather {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );

  border-radius: 200px;
}

.WeatherForecast-layout {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  border-radius: 200px;
  margin-top: 50px;
  padding: 30px 0 0px 0;
}

.Weather .gridInfo {
  padding: 50px 0 30px 0;
}

.Weather h1 {
  font-size: 42px;
  font-weight: 500;
}

.Weather h2 {
  font-size: 22px;
  font-weight: 400;
}

.Weather ul {
  padding: 0px;
}

.Weather li {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
}

.search-engine {
  margin: 100px 0 40px 130px;
}

.form-control {
  border-color: #d2e3ea !important;
}

.form-control::placeholder {
  font-style: italic;
  font-size: 14px;
  color: #97bad7;
  opacity: 0.5;
  max-width: 600px;
}

.search-button {
  text-align: left;
  color: #97bad7;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}

.Weather .unit {
  font-size: 12px;
  vertical-align: 2px;
}
